body {
    background-color: lightskyblue;
}

h1, h2, a {
    text-align: center;
    font-family: Impact, fantasy;
    font-stretch: extra-condensed;
}

p {
    font-family: Gill Sans, Trebuchet, sans-serif;
}

nav {
    text-align: center;
/*    word-spacing: 8em;*/

}

li {
    display: inline;
    padding: 5em;
}

footer {
    width: 80%;
    position: fixed;
    bottom: 0;
}

.sidebar {
    background-color: lightseagreen;
    float: left;
    width: 20%;
    margin: 2%;
}

.foot {
    text-align: right;
    font-family: Gill Sans, Trebuchet, sans-serif;

/*    bottom: 100%;*/
/*    position: relative;*/
/*    clear: both;*/
/*
    position: fixed;
    float: right;

    bottom: 0;
    right: 0;
    left: 0;
*/
}