body {
    background-color: lightskyblue;
    width: 80%;
/*    height: 100%;*/
/*    float: right;*/
    position: absolute;
/*    right: -5%;*/
    left: 18%;
    padding-bottom: 2%;
}

h1, h2, a {
    text-align: center;
    font-family: Impact, fantasy;
    font-stretch: extra-condensed;
}

p {
    font-family: Gill Sans, Trebuchet, sans-serif;
    position: relative;
    padding-left: 10%;
/*    text-align: left;*/
}

nav {
    text-align: center;
/*    word-spacing: 8em;*/
    padding-bottom: 1%;
}

li {
    display: inline;
    padding: 5%;
}

footer {
    width: 80%;
    position: absolute;
    bottom: 0;
/*    right: -5%;*/
/*    left: 0%;*/
    height: 2%;
    text-align: center;
    left: 10%;
/*    background-color: darkmagenta;*/
/*
    margin-right: 0;
    margin-left: 0;
*/
}

.sidebar {
    background-color: lightseagreen;
    position: fixed;
/*    float: left;*/
    left: 0;
    min-height: 100%;
    width: 20%;
    margin: 2%;
    margin-left: 0;
    margin-top: 0;
    padding: 1%;
    clear: both;
}


.foot {
    font-family: Gill Sans, Trebuchet, sans-serif;
    font-weight: bold;
}
