body {
    background-color: lightskyblue;
    width: 80%;
/*    height: 100%;*/
/*    float: right;*/
    position: absolute;
/*    right: -5%;*/
    left: 18%;
    padding-bottom: 2%;
}

h1, h2, h3, a {
    text-align: center;
    font-family: Impact, fantasy;
    font-stretch: extra-condensed;
    letter-spacing: 1px;
}

p, form input[type=submit]
/*, span .helptext*/
{
    font-family: Gill Sans, Trebuchet, sans-serif;
    position: relative;
    margin-left: 10%;
}

nav {
    text-align: center;
    display: inline;
    padding: 5%;
    padding-bottom: 1%;
}

nav li, .tag_list li {
    display: inline;
    padding: 5%;
}

footer {
    width: 80%;
    position: absolute;
    bottom: 0;
/*    right: -5%;*/
/*    left: 0%;*/
    height: 2%;
    text-align: center;
    left: 10%;
}

span .helptext {
    padding-left: 40%;
}

.sidebar {
    background-color: lightseagreen;
    position: fixed;
/*    float: left;*/
    left: 0;
    min-height: 102%;
    width: 20%;
    margin: 2%;
    margin-left: 0;
    margin-top: 0;
    padding: 1%;
    clear: both;
}

.foot {
    font-family: Gill Sans, Trebuchet, sans-serif;
    font-weight: bold;
}
