{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    {{block.super}} - {{sshow.post_title|title}}
{% endblock title %}

{% block header %}{% endblock header %}

{% block menu_bar%}{% endblock menu_bar %}

{% block content %}
    <h2>{{sshow.post_title|title}}</h2>
    <p>By {{sshow.user}}</p>
    <p>Last modified {{sshow.last_modified}}</p>
    <p>{{sshow.post_content}}</p>

    <p>Tags: 
        {% for tag in sshow.tags.all %}
            {{ tag.name }}
        {% endfor %}
    </p>

    {% if user == sshow.user %}
        <p><a href="{%url 'edit' slug=sshow.slug%}">Edit Post</a></p>
    {% endif %}
{% endblock content %}