{% extends 'base.html' %}

{% block title %}
    {{block.super}} - Password Reset Confirmation
{% endblock title %}

{% block header %}{% endblock header %}

{% block menu_bar%}{% endblock menu_bar %}

{% block content %}
    {% if validlink %}
        <h2>Password Reset Confirmation</h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change password" />
    </form>
    {% else %}
        <h2>Password Reset Unsuccessful</h2>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock content %}