{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title>
            {% block title %}
                This is PodBlurb
            {% endblock title %}
        </title>

    {% block header %}
        The most excellent blog in the world!
    {% endblock header %}
    </head>
    <body>
        <!-- Override page content -->
        <div class="sidebar">
            <form>
            <h2>Find Podcasts!</h2>
            <p>
            <label>Sort by: 
                <select name="pd_sorting">
                    <option value="most_popular">Most Popular</option>
                    <option value="most_recent">Most Recently Updated</option>
                    <option value="a_z">A-Z</option>
                    <option value="z_a">Z-A</option>
                </select>
            </label>
            </p>
            <p>
            <label>Format: 
                <input type="checkbox" name="pd_format" value="scripted" />Scripted
                <input type="checkbox" name="pd_format" value="talk" />Talk
            </label>
            </p>
            <p>
            <label>Mature Content: 
                <input type="radio" name="pd_mature" value="on" />On
                <input type="radio" name="pd_mature" value="off" />Off
            </label>
            </p>
            </form>
        </div>
        <div class="banner">
            <h1>PodBlurb</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
        {% block content %}{% endblock content %}
        <div class="foot">
            <footer>
                Recommend a podcast at thisname@podblurb.com!
            </footer>
        </div>
    </body>
</html>