{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title>
            {% block title %}
                PodBlurb
            {% endblock title %}
        </title>
    {% block header %}
    {% endblock header %}
        <div class="banner">
            <h1>PodBlurb</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li><a href={% url 'auth_logout' %}>Logout</a></li >
                    {% else %}
                    <li><a href={% url 'auth_login' %}>Sign In</a></li>
                    <li><a href={% url 'registration_register' %}>Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </head>
    <body>        
        {% block content %}{% endblock content %}
        <div class="foot">
            <footer>
                Recommend a podcast at madeupemail@podblurb.com!
            </footer>
        </div>
    </body>
</html>