{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Podblurb - Home
{% endblock title %}

{% block header %}{% endblock header %}

{% block menu_bar%}{% endblock menu_bar %}

{% block content %}
    <p>My question: Why aren't more podcasts covered like films and TV shows?</p>
    <p>This is my favorite podcast this week: {{pc|title}}</p>
    <p>I've listened to {{num|apnumber}} podcast episode{{num|pluralize}} this week.</p>
    
    {% for show in podcasts %}
        <h2>{{show.name}}</h2>
        <p>{{show.description}}</p>
    {% endfor %}
{% endblock content %}