{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    {{block.super}} - Home
{% endblock title %}

{% block header %}{% endblock header %}

{% block menu_bar%}{% endblock menu_bar %}

{% block content %}
<!--    <p>My question: Why aren't more podcasts covered like films and TV shows?</p>-->

    <p>The top podcast this week is {{pdc|title}}.</p>
    <p>I've listened to {{num|apnumber}} podcast episode{{num|pluralize}} this week.</p>
    
    {% if q %} 
        {% for s in post_list %}
            <h2><a href="{% url 'show' slug=s.slug %}">{{s.post_title}}</a></h2>
            <p>{{s.post_content}}</p>
            <p>Last Modified: {{s.last_modified}}</p>
        {% endfor %}
    {% else %}
        {% for s in podcasts %}
            <h2><a href="{% url 'show' slug=s.slug %}">{{s.post_title}}</a></h2>
            <p>{{s.post_content}}</p>
            <p>Last Modified: {{s.last_modified}}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}